h4 {
    padding-bottom: 15px;
}

#footer-section {
    background-color: black;
}

#navbar-section {
    background-color: black;
}

#button-black {
    background-color: black;
}

#app-section {
    background-color: black;
}

.controls {
    float: left;
}

.player {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
}
/*  
 .player > a {
    text-decoration: none;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 10px;
    float: left;
}   */

.player > a:hover {
    background-color: #001165;
}

.progress > .bar {
    position: absolute;
    left: 5px;
    top: 20px;
    right: 10px;
    bottom: 20px;
    background: white;
    float: left;
}

.photocred {
    float: right;
}

#corpusBlock {
    padding-left: 10px;
}

#panel {
    padding-left: 10px;
}