#footer-section {
    background-color: black;
}

#navbar-section {
    background-color: black;
}

#button-black {
    background-color: black;
}

#app-section {
    background-color: black;
}

.controls {
    float: left;
}

.player {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
}

#corpusBlock {
    background-color: black,
}

.photocred {
    float: right;
}